.card .card-image{
  border-radius: 10px;
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.equal-height .card-content {
  flex: auto;
}

.center-no-image-ch {
  margin: 0;
  position: absolute;
  top: 35%;
}

/* .button-border {
  border: none;
  background: white;
} */

.mood {
  position: absolute;
  top: 8px;
  right: 16px;
}


.image-size {
  max-width: 483px;
  max-height: 322px;
}